:root {
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;  
}

* {
    font-family: var(--font-sans);
    --navy: #0a192f;
    color: white;
}

body{
    margin: 0px;
    background-color: var(--navy);
}

header {
    background: #08415C;
    position: fixed;
    top: 0;
    width: 100%;
    position: sticky;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}
nav ul{
    margin-right:3rem;
    padding: 0%;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 5rem;
    padding-top: 1.5rem;

    /* code for header underline selector positioning*/
    position: relative;

}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


nav a::before {
    content: '';
    display: block;
    height: .3rem;
    width: 100%;
    background-color: #eee5e9;
    position: absolute;
    top: 2.7rem;
    width: 0;

    transition: all ease-in-out 150ms;
}

nav a:hover::before {
    width: 100%;
}

main {
    margin-left: 3rem;
}

.EEdff {
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
    text-align: center;
}

.EEdff h1 {
    font-size: 3.5rem;
}

footer{
  background: #08415C;
}

.contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 500px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 900;
    color:turquoise;
    
}

.contactForm {
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    background: #6b818c;
    box-shadow: 12px 12px 2px 1px white
    
    
}
.contactForm h2{
    font-size:  30px;
    color: white;
    font-weight: 700;
}

.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #510A32;
    outline: none;
    resize: none;
    font-weight: bold;
    font-family: sans-serif;
}

.contactForm .inputbox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.05s;
    color: #666;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span{
    color: whitesmoke;
    font-size: 2em;
    transform: translatey(-4em);
    font-weight: bold;
}

.contactForm .inputbox input[type="submit"]{
    width: 10em;
    color: #fff;
    border: none;
    background-color: indianred;
    position: relative;
    cursor: pointer;
    padding: 2em;
    font-size: 3em;
}

.contactForm .inputbox input[type="submit"]:hover{
    color: black;
    background-color: grey
}

.contactForm .inputbox input[type="submit"]:active{
    color: white;
}

.contact_info{
    margin: .1em .1em;
}

.content{
    text-size-adjust: 45px;
}

footer p a{
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}

footer p a:hover{
  cursor: pointer;
}

footer p a:visited {
  color: #AD00C4;
  text-decoration: none;
}
footer p a:visited:hover {
  color: #e312ff;
}

footer p a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #EEE5E9;

    position: absolute;
    top: 22px;
    width: 0;

    transition: all ease-in-out 150ms;
}

footer p a:hover::before {
    width: 100%;
}

.emoji {
  font-size: 1.2rem;
  transition: 
    transform .2s ease-in-out;
}

.emoji--mail:before {
  content: '📭';
}

.emoji--mail:hover:before {
  content: '📬';
}

.emoji--doc:before {
  content: '📄';
}

.emoji--doc:hover:before {
  content: '📑';
}


@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 60%;
    }
}
