body{
    font-family: sans-serif;  
    background-image: linear-gradient(180deg, #21424C, #510A32);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-weight: bold;
}

.navigation{
    width: 85%;
    margin: 0 auto;
}
header {
    background: #005C52;
    position: fixed;
    width: 99%;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}
nav ul{
    margin:0%;
    padding: 0%;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 16px;

    /* code for header line selector */
    position: relative;

}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #00c4b0;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #00c4b0;

    position: absolute;
    top: 35px;
    width: 0;

    transition: all ease-in-out 225ms;
}

nav a:hover::before {
    width: 100%;
}

.logo {
    float: left;
    width: 30px;
    height: auto;
    padding: 10px;
}

footer{
}

.contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 500px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 900;
    color:turquoise;
    
}

.contactForm {
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    background: #005C52;
    
    
}
.contactForm h2{
    font-size:  30px;
    color: white;
    font-weight: 600;
}

.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputbox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.05s;
    color: #666;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span{
    color: whitesmoke;
    font-size: 12px;
    transform: translatey(-20px);
}

.contactForm .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputbox input[type="submit"]:hover{
    width: 100px;
    background: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contact_info{
    margin: 2% 2%;
}

.content{
    text-size-adjust: 45px;
}

footer p a{
  color: white;
  text-decoration: none;
  position: relative;
}

footer p a:hover{
  color: #00c4b0;
  cursor: pointer;
}

footer p a:visited {
  color: #AD00C4;
  text-decoration: none;
}
footer p a:visited:hover {
  color: #00c4b0;
}

footer p a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #00c4b0;

    position: absolute;
    top: 22px;
    width: 0;

    transition: all ease-in-out 225ms;
}

footer p a:hover::before {
    width: 100%;
}

.emoji {
  font-size: 1.2rem;
  transition: 
    transform .2s ease-in-out;
}

.emoji--mail:before {
  content: '📭';
}

.emoji--mail:hover:before {
  content: '📬';
}

.emoji--doc:before {
  content: '📄';
}

.emoji--doc:hover:before {
  content: '📑';
}

.emoji--git:before {
  content: ':))))';
}

.emoji--git:hover:before {
  content: ':(';
}

.emoji--linkedin:before {
  content: ':)';
}

.emoji--linkedin:hover:before {
  content: ':(';
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}